/* Main Container */
.album_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;

  /*Album Info Left */
  .album_inner_left {
    height: 100%;
    width: 65%;
    border: coral;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;

    &:hover {
      -ms-overflow-style: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /* Album Info Left Inner Heading */
    .album_inner_left_heading {
      padding-left: 0.3rem;
      margin-top: 5rem;
      min-height: 15%;
      width: 99%;
      background: white;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid hsl(0, 0%, 87%);

      .album_inner_left_heading_left {
        width: 150px;
        height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .album_art {
          width: 80%;
          height: 80%;
          border-radius: 50%;
        }
      }

      .album_inner_left_heading_right {
        width: 75%;
        height: 100%;

        .album_inner_left_heading_right_top {
          height: 50%;
          width: 80%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;

          h2 {
            color: darkgrey;
            margin: 0;
            font-size: 0.9rem;
            white-space: nowrap;
            font-weight: 300;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;

            &:hover {
              cursor: pointer;
              text-decoration: underline;
              color: hsl(208, 47%, 76%);
            }
          }

          h1 {
            color: hsl(0, 0%, 27%);
            margin: 0;
            font-size: 1.3rem;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
          }
        }

        .album_inner_left_heading_right_bottom {
          height: 40%;
          width: 90%;

          .album_inner_left_heading_right_bottom_top {
            width: 100%;
            height: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            i {
              color: darkgrey;
              margin: 0;
              padding-right: 1rem;
              padding-top: 0.2rem;
              white-space: nowrap;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              font-size: 0.7rem;
            }

            a {
              color: hsl(207, 48%, 57%);
              text-decoration: none;
              padding-top: 0.2rem;
              padding-right: 1rem;
              font-size: 0.7rem;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .album_inner_left_heading_right_bottom_bottom {
            width: 100%;
            height: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

            p {
              color: darkgrey;
              margin: 0;
              padding-right: 1rem;
              padding-top: 0.2rem;
              white-space: nowrap;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              font-size: 0.7rem;
            }
          }
        }

      }
    }

    /* Album Info Music List */
    .album_inner_left_list_container {
      height: 100%;
      width: 100%;

      .album_inner_left_list {
        width: 99%;
        min-height: 1%;
        border-top: 1px solid hsl(0, 0%, 87%);
        border-left: 1px solid hsl(0, 0%, 87%);
        border-right: 1px solid hsl(0, 0%, 87%);
      }

      .spacer {
        width: 100%;
        height: 220px;
      }
    }
  }

  /*Album Info Right */
  .album_inner_right {
    width: 31%;
    height: 36%;
    margin-top: 4.9rem;

    .album_inner_right_information {
      width: 99%;
      height: 100%;
      border: 1px solid hsl(0, 0%, 87%);
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .track_art_right {
        width: 95%;
        height: 70%;
        margin-top: 2%;
      }

      .overlap_info {
        background: white;
        width: 85%;
        height: 30%;
        margin-top: -5%;
        border-radius: 26px;

        h5 {
          margin: 1rem 0.3rem 0.3rem 0.3rem;
          text-align: center;
          color: darkgrey;
          font-weight: 300;
          font-style: italic;
        }

        h4 {
          margin: 0.3rem;
          text-align: center;
          font-weight: 400;
          color: hsl(0, 0%, 41%);
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }

        .playback_status {
          height: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          h5 {
            color: coral;
            font-weight: 500;
            margin: 0;
            margin-top: 0.3rem;
            font-size: 0.7rem;
            padding: 0 0.3rem;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            font-weight: 400;
          }
        }
      }
    }

  }
}