
/* Width 1400px */
@media only screen and (max-width: 1400px) {

    /* Media Queries Top Bar */
    .top_wrapper_param {
        width: 70%;
    }

    /* Music Info Track List, ALbum, Genre Media Queries */
    .music_info_genre {
        width: 70.5%;
    }

    .music_info_album {
        width: 70.5%;
    }

    .music_info_tracklist {
        width: 70.5%;
    }

}

/* Width 1250px */
@media only screen and (max-width: 1250px) {
     /* Media Queries Top Bar */
    .top_wrapper_param {
        width: 80%;
    }

        /* Music Info Track List, ALbum, Genre Media Queries */
        .music_info_genre {
            width: 80.5%;
        }
    
        .music_info_album {
            width: 80.5%;
        }
    
        .music_info_tracklist {
            width: 80.5%;
        }
     
}


/* Widt 1100px */
@media only screen and (max-width: 1100px) {

    /* Music Info Track List, ALbum, Genre Media Queries */
    .music_info_genre {
        width: 90.5%;
    }

    .music_info_album {
        width: 90.5%;
    }

    .music_info_tracklist {
        width: 90.5%;
    }

}



/* Height 760px */
@media only screen and (max-height: 750px) {
     /* Media Queries Top Bar */
    .top_wrapper {
        min-height: 8%;
    }

}




/* Height 500px */
@media only screen and (max-height: 550px) {
     /* Media Queries Top Bar */
    .top_wrapper {
        min-height: 10%;
    }

    
}


/*height 400px*/
@media only screen and (max-height: 400px) {
     /* Media Queries Top Bar */
    .top_wrapper {
        min-height: 12%;
    }

}













