/* Main Container  */
.main_wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;


  /* Top Section  */
  .top_wrapper {
    position: relative;
    width: 100%;
    min-height: 6%;
    background: hsl(0, 0%, 27%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


    .top_wrapper_param {
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .logo {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
          width: 45px;
          height: 45px;
          padding-right: 0.5rem;
        }

        h2 {
          color: white;
          font-size: 1.2rem;
          font-family: "Verdana";
          font-weight: 400;
          margin: 0;
          margin-top: 3%;
        }
      }

      /*Search Bar*/
      .search_bar {
        z-index: 50;
        width: 30%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        input {
          color: lightgrey;
          height: 70%;
          width: 45%;
          height: 51%;
          border-radius: 5px;
          font-size: 0.8rem;
          -webkit-transition: 500ms;
          -o-transition: 500ms;
          transition: 500ms;
          background: black;
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 0.3rem;
          outline: none;
        }

        i {
          font-size: 1rem;
          margin-left: 1rem;
          color: lightgrey;

          &:hover {
            cursor: pointer;
          }
        }

      }
    }
  }


  /* Bottom Wrapper */
  .bottom_wrapper {
    width: 100vw;
    height: 95%;
    background: hsl(0, 0%, 95%);
    position: fixed;

    /* Main Container  */
    .main_wrapper_container {
      width: 100%;
      height: 100%;

      .main_wrapper {
        width: 100%;
        height: 100%;


        /* Music Info */
        .music_info_container {
          width: 100%;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 100%;
          overflow: scroll;
          overflow-x: hidden;
          -ms-overflow-style: none;

          &:hover {
            -ms-overflow-style: none;
          }

          &::-webkit-scrollbar {
            display: none;
          }

          /* Loader  */
          .loader {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 3vh;
            z-index: 500;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: hsl(0, 0%, 95%);

            &.disable {
              display: none;
              z-index: 0;
            }


            .example {
              padding-top: 2.5rem;

              .sk-wave {
                width: var(--sk-size);
                height: var(--sk-size);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

                .sk-wave-rect {
                  background-color: var(--sk-color);
                  height: 100%;
                  width: 15%;
                  -webkit-animation: sk-wave 1.2s infinite ease-in-out;
                  animation: sk-wave 1.2s infinite ease-in-out;


                  &:nth-child(1) {
                    -webkit-animation-delay: -1.2s;
                    animation-delay: -1.2s;
                  }

                  &:nth-child(2) {
                    -webkit-animation-delay: -1.1s;
                    animation-delay: -1.1s;
                  }

                  &:nth-child(3) {
                    -webkit-animation-delay: -1.0s;
                    animation-delay: -1.0s;
                  }

                  &:nth-child(4) {
                    -webkit-animation-delay: -0.9s;
                    animation-delay: -0.9s;
                  }

                  &:nth-child(5) {
                    -webkit-animation-delay: -0.8s;
                    animation-delay: -0.8s;
                  }

                  @-webkit-keyframes sk-wave {

                    0%,
                    40%,
                    100% {
                      -webkit-transform: scaleY(0.4);
                      transform: scaleY(0.4);
                    }

                    20% {
                      -webkit-transform: scaleY(1);
                      transform: scaleY(1);
                    }
                  }

                  @keyframes sk-wave {

                    0%,
                    40%,
                    100% {
                      -webkit-transform: scaleY(0.4);
                      transform: scaleY(0.4);
                    }

                    20% {
                      -webkit-transform: scaleY(1);
                      transform: scaleY(1);
                    }
                  }
                }

              }
            }
          }

          /* Error Message */
          .error_message {
            padding-top: 4%;
            font-size: 1rem;
            color: grey;
          }

          /* Music Info Genre */
          .music_info_genre {
            display: block;
            margin-top: 6rem;
            width: 60.5%;
            min-height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;

            &.disable {
              display: none;
            }

            .spacer_genre {
              height: 300px;
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              position: relative;

              p {
                display: none;
                padding: 1rem;
                border-radius: 10px;
                color: grey;
                font-size: 1.3rem;
                position: absolute;
                top: 10%;
                border: 1px solid hsl(0, 0%, 87%);
                -webkit-transition: 500ms;
                -o-transition: 500ms;
                transition: 500ms;

                &:hover {
                  cursor: pointer;
                  background: hsl(250, 5%, 75%);
                  color: white;
                  padding: 1rem 2rem;
                  -webkit-transition: 500ms;
                  -o-transition: 500ms;
                  transition: 500ms;
                }
              }
            }
          }

          /* Music Info Album */
          .music_info_album {
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            width: 60%;
            z-index: 100;

            &.enable {
              display: block;
            }

          }

          /* Music Info Track List */
          .music_info_tracklist {
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            width: 60%;
            z-index: 100;

            &.enable {
              display: block;
            }

          }


        }

      }
    }
  }
}




/* Stand Alone Styles */


/* Loader */
:root {
  --sk-size: 40px;
  --sk-color: coral;
}

.sk-center {
  margin: auto;
}